<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infos Cours</title>
</head>
<body>
<table border="1">
    <th>ID</th>
    <th>MATIERE</th>
    <th>NOMBRE D'HEURES</th>
    <tr>
        <td th:text="${moncours.id}"/>
        <td th:text="${moncours.matiere}"/>
        <td th:text="${moncours.nbreHeures}"/>
    </tr>
</table>

<table border="1">
    <th>ID</th>
    <th>DATE DEBUT</th>
    <th>DATE FIN</th>
    <th>INSCRITS</th>
    <th>COURS</th>
    <th>FORMATEUR</th>
    <tr th:each="sessionCours : ${moncours.session}">
        <td th:text="${sessionCours.id}"/>
        <td th:text="${sessionCours.dateDebut}"/>
        <td th:text="${sessionCours.dateFin}"/>
        <td th:text="${sessionCours.nbreInscrits}"/>
        <td th:text="${sessionCours.cours.matiere}"/>
        <td th:text="${sessionCours.formateur.nom}"/>
    </tr>
</table>
<a href ="/">retour</a>

</body>
</html>