<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
  <title>FORMATEURS</title>
  <meta charset="UTF-8">
</head>
<body>
<table border="1">
  <th>ID</th>
  <th>NOM</th>
  <th>PRENOM</th>
  <th>MAIL</th>
  <tr th:each="unFormateur : ${mesFormateurs}">
    <td th:text="${unFormateur.id}"/>
    <td th:text="${unFormateur.nom}"/>
    <td th:text="${unFormateur.prenom}"/>
    <td th:text="${unFormateur.mail}"/>
  </tr>
</table>
<a href ="/">retour</a>

</body>
</html>